/* CSS Styles for Resume */

/* FUTURE SASS ---> Border as variable */



* {
/*  border: 1px solid red;*/
font-family: 'Share Tech', sans-serif;
}

html {
  font-size: 16px;
}

/* HORIZONTAL LINES*/

#position::after, .contact-info::after, .content-heading::after {
  content: "";
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 2px solid black;
  overflow: hidden;
  justify-content: space-around;
}

/* MAIN CONTENTS SECTION */

#main-container {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 20px;
  margin-left: 300px;
  margin-right: 100px;
  padding: 0px 15px;

}

#projects a {
  text-decoration: none;
  color: black;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 33.3% 33.4% 33.3%;
}

.project-img {
  height: auto;
  width: auto;
  max-width: 250px;
  justify-content: center;
}

/* Eventually change this text so it is not in an anchor tag */



/* SIDE BAR SECTION */

#sidebar {
  position: fixed;
  overflow: auto;
  float: left;
/*  border: 1px solid red; */
  padding: 15px 15px;
  border-color: white;
  border-right: ridge;

}

.sidebar-header {
}

#profile-pic {
  height: auto;
  width: auto;
  max-width: 250px;
  justify-content: center;
  border: 2px solid;
}

#name {
  display: block;
  text-align: center;
  font-size: 2.3em;
  margin: 0px;
}

#position {
  display: block;
  text-align: center;
  margin: 0px 0px 10px;

}

.contact-info {
}

div.row a{
  font-size: 1em;
  text-decoration: none;
  color: black;
}

i {
  height: 2em;
  width: 2em;
}

.education {
  font-size: 1em;
}

.school {
  font-weight: bold;
}




