/* CSS Styles for Resume */

* {
/*  border: 1px solid red;*/
font-family: 'Share Tech', sans-serif;
}

html {
  font-size: 16px;
}



/* MAIN CONTENTS SECTION */

#main-container {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 20px;
  margin-left: 300px;
  margin-right: 100px;
  padding: 15px 15px;

}

h2.content-heading {
}

#projects a {
  text-decoration: none;
  color: black;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 33.3% 33.4% 33.3%;
}

.project-img {
  height: auto;
  width: auto;
  max-width: 250px;
  justify-content: center;
}

/* Eventually change this text so it is not in an anchor tag */



/* SIDE BAR SECTION */

#sidebar {
  position: fixed;
  overflow: auto;
  float: left;
/*  border: 1px solid red; */
  padding: 15px 15px;
  border-color: white;
  border-right: ridge;

}

.sidebar-header {
}

#profile-pic {
  height: auto;
  width: auto;
  max-width: 250px;
  justify-content: center;
}

#name {
  display: block;
  text-align: center;
  font-size: 2.3em;
  margin: 0px;
}

#position {
  display: block;
  text-align: center;
  margin: 0px 0px 10px;

}

.contact-info {
}

div.row a{
  font-size: 1.05em;
  text-decoration: none;
  color: black;
}

i {
  height: 2em;
  width: 2em;
}

.education {

}




